<div class="jumbotron" >
	<div class="container-fluid anchor" >
		<h1>Rotary Realm: FAQ</h1>
		<h2>Nobody has asked anything, yet</h2>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<%= image_tag("rotary.jpg") %>
</div>
<h1>StaticPages#faq</h1>
<p>Find me in app/views/static_pages/faq.html.erb</p>
<p>Welcome! The date and time is <%= Time.now %></p>

