<div class="jumbotron" >
	<div class="container-fluid anchor" >
		<h1>Welcome to Rotary Realm</h1>
		<h2>This is the Products page</h2>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<%= image_tag("rotary.jpg") %>
</div>
<h1>StaticPages#products</h1>
<p>Find me in app/views/static_pages/products.html.erb</p>
<p>Welcome! The date and time is <%= Time.now %></p>